# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

[package]
name = "nvme_driver"
edition.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
event-listener.workspace = true
futures.workspace = true
guestmem.workspace = true
inspect = { workspace = true, features = ["defer"] }
inspect_counters.workspace = true
memory_range.workspace = true
mesh.workspace = true
nvme_spec.workspace = true
page_pool_alloc.workspace = true
pal_async.workspace = true
parking_lot.workspace = true
safe_intrinsics.workspace = true
safeatomic.workspace = true
slab.workspace = true
task_control.workspace = true
thiserror.workspace = true
tracing.workspace = true
user_driver.workspace = true
vmcore.workspace = true
zerocopy.workspace = true

[dev-dependencies]
chipset_device.workspace = true
disklayer_ram.workspace = true
devices_test_helpers.workspace = true
guid.workspace = true
nvme.workspace = true
pci_core.workspace = true
scsi_buffers.workspace = true
test_with_tracing.workspace = true

[lints]
workspace = true
